@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins";
    }
}
h6{
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
h5{
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
h3{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
h2{
    font-size: 36px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
h1{
    font-size: 36px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
p{
    font-size: 16px;
    line-height: 27px;
}
a{
    font-size: 16px;
}

